h2.mainPage {
	margin-bottom: 10px;
	margin-top: 2.3em;
}

h2.mainPage a {
	color: var(--non-accented-link-color);
}

h3.mainPage {
	margin-bottom: 10px;
	margin-top: 1.9em;
}

.secondLevel {
	margin-left: 40px;
}

.field-card {
	border: 1px solid var(--border-color);
	border-radius: 5px;
	box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.5);
	cursor: pointer;
	display: inline-block;
	height: var(--field-card-height)px;
	margin-bottom: 43px;
	margin-right: 43px;
	overflow: hidden;
	width: var(--field-card-width)px;
}

.field-card-image {
	height: var(--field-card-height)px;
	width: var(--field-card-width)px;
}

.field-card-svg {
	margin-top: calc(var(--field-card-overlay-height)px * -1 - 7px);
}

.field-card-overlay {
	background-color: rgba(255, 255, 255, 0.4);
	font-size: 25px;
	font-weight: bold;
	height: var(--field-card-overlay-height)px;
	line-height: 140%;
	margin-top: calc(var(--field-card-height)px * -1 - 6px);
	padding: 15px 25px;
	position: relative;
}
