nav {
  background: var(--background-darker);
  border-right: 1px solid var(--border-color);
  height: 100%;
  overflow-y: auto;
  position: absolute;
  width: var(--nav-width);
  z-index: 2;
}

nav a {
  color: var(--accent-color);
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav.nav-closed {
  margin-left: calc(var(--nav-width) * -1);
}

main.nav-closed {
  margin-left: 0;
}

#user-account {
  border-bottom: 1px solid var(--border-color);
  height: 80px;
}

#user-avatar {
  border: var(--avatar-border);
  border-radius: 50%;
  float: left;
  height: 60px;
  margin: 5px 15px;
  overflow: hidden;
  width: 60px;
}

#user-name {
  padding-top: 12px;
}

#log-link {
  margin-top: 5px;
}

#admin-link {
  float: right;
  margin-right: 20px;
}

#nav-container {
  padding-bottom: 20px;
  padding-top: 20px;
}

#nav-container h1 {
  color: var(--non-accented-link-color);
  font-size: large;
  margin-left: 20px;
  margin-right: 20px;
}

#nav-container a {
  display: inline-block;
  margin: 10px 20px;
}

#nav-container h1 a {
  color: var(--non-accented-link-color);
  margin: 0;
}

#nav-container .second-level {
  margin-left: 40px;
}

#nav-close-button {
  float: right;
  margin-right: 20px;
}

#overlay {
  background-color: var(--overlay-fallback-color);
  /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
  background-color: var(--overlay-color);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1;
}
