.top-button {
  color: #67767a;
  cursor: pointer;
  transition: color ease 0.15s;
  user-select: none;
}

.top-button:hover {
  color: var(--accent-color);
}

#font-decrease {
  float: right;
  font-size: small;
  margin-right: 20px;
}

#font-increase {
  float: right;
  font-size: x-large;
  margin-right: 20px;
}
