name: "Deploy"
on:
  release:
    types: [published]
  workflow_dispatch:
env:
  cache-version: 1
jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Cache NPM dependencies"
        uses: actions/cache@v5
        with:
          path: "~/.npm"
          key: npm-dependencies-${{ runner.os }}-${{ env.cache-version }}-${{ hashFiles('package.json') }}
          restore-keys: |
            npm-dependencies-${{ runner.os }}-${{ env.cache-version }}-${{ hashFiles('package.json') }}
            npm-dependencies-${{ runner.os }}-${{ env.cache-version }}-

      - name: "Install NPM dependencies"
        run: |
          npm ci

      - name: "Build"
        env:
          NODE_ENV: 'production'
        run: |
          npm run build

      - name: "Upload artifact"
        uses: actions/upload-artifact@v6
        with:
          name: "build-artifact"
          path: dist
          include-hidden-files: true

  deploy:
    name: "Deploy the website"
    runs-on: ubuntu-latest
    needs: build
    concurrency:
      group: "deploy"
      cancel-in-progress: true
    steps:
      - name: "Download artifact"
        uses: actions/download-artifact@v7
        with:
          name: "build-artifact"
          path: dist

      - name: "Deploy over FTP"
        uses: SamKirkland/FTP-Deploy-Action@v4.3.6
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./dist/
          server-dir: ${{ secrets.FTP_DIR }}
